.dashboard {
  background: #000000;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px black;
  font-weight: bold;
  width: 500px;
  padding: 26px 20px;
  
  background-position: center;
  border-radius: 20px;
  border-style: solid;
  border-color:#ff000088
}



.dashboard p {
  margin: 5px;
  font-size: 18px;
}

.dashboard button {
  width: 100%;
  margin: 5px 0px 0px 0px;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px;
  border-radius: 20px;
}

.dashboard .paragraph {
  padding: 20px;
}

.dashboard .connect {
  background: rgb(255, 70, 70);
  color: rgb(0, 0, 0);
}

.dashboard .claim {
  background: rgb(255, 70, 70);
  color: rgb(0, 0, 0);
}

.dashboard div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .dashboard {
    width: calc(100% - 20px);
    padding: 10px;
  }
}

@media screen and (max-width: 5480px) {
  .dashboard div {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  .dashboard .paragraph {
    padding: 10px;
  }

  .dashboard button {
    margin: 0px;
  }
}
